<!DOCTYPE html>
<html>
  <head>
    <title>Change calculator</title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <script src="/javascript/lib/jquery-1.12.3.min.js"></script>
    <script src="/javascript/app.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Change calculator</h1>
        <p>Enter an amount to get the minimum number of coins needed.</p> 
      </div>
      <div class="row">
        <div class="col-sm-4">
          {{<partials-form}}
              {{$form}}
                  {{#input-text}}amount{{/input-text}}
                  <input type="submit" {{#id}}id="{{id}}"{{/id}} value="Submit" class="btn-default btn-lg">
              {{/form}}
          {{/partials-form}}
        </div>
        <div class="col-sm-8">
          <div class="message">
            {{#result}}
                <h3>{{result}} coins are needed for £{{amount}}</h3>
                <p>({{exactChange}}).</p>
            {{/result}}
          </div>
        </div>
    </div>
  </body>
</html>
